@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar{
  display: none;
}
html {
  font-family: 'Inter', sans-serif;
}

.socialIcon {
  @apply w-full max-w-[5vh] xl:max-w-[6vh] aspect-square m-auto duration-200 transition-colors ease-in-out;
}
.socialIconContacts {
  @apply h-10 w-10 m-4 ml-0 md:h-10 md:w-10 lg:mx-6 hover:fill-white/60 duration-200 transition-colors ease-in-out;
}
.socialIconMenu {
  @apply h-[5vh] w-[5vh] mx-[2vw] md:mx-[4vh] my-[2vh] hover:fill-white/80 duration-200 transition-colors ease-in-out;
}
.socialIconFooter {
  @apply h-[8vw] w-[8vw] sm:h-5 sm:w-5 md:h-7 md:w-7 hover:fill-white/60 duration-200 transition-colors ease-in-out grow;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}